<%= form_for(@registered_application) do |f| %>
  <% if @registered_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registered_application.errors.count, "error") %> prohibited this registered_application from being saved:</h2>

      <ul>
      <% @registered_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="form-group">
          <%= f.label :name %>
     <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control', placeholder: "Enter URL" %>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>
<% end %>
